NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CF_ACCOUNT_ID=
CF_API_TOKEN=
CF_R2_BUCKET=wytnest-videos
OPENAI_API_KEY=
PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@wytnest.com
